@use 'includes/conf' as *;

// load default styles
@import url(../../../stylesheets/application.css);

@import 'includes/init';

#wrapper {
    max-width: $maxWidth;
    min-height: 100vh;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $fontAccent;
    font-weight: 700;
    margin-top: 0;
}

hr {
    margin: s(4) 0;
    padding: 0;
    border: none;
    border-top: 1px solid #ccc;

    &.hr--purple {
        border-top: s(.5) solid $piratePurple;
    }
}

@include links {
    color: $orange;
    text-decoration: none;
}
@include links(true) {
    color: $lightOrange;
}

.nobr {
    white-space: nowrap;
}

.btn {
    @include disableDefaults;
    text-decoration: none;
    background: $orange;
    color: #fff !important;
    font: normal normal 400 1rem/#{1.3} $fontFamily;
    padding: s(1) s(2);
    border-radius: s(1);
    display: inline-block;
    box-shadow: 0 0 3px #00000028;
    transition: background .2s linear;

    &:hover, &:active, &:focus {
        background-color: $lightOrange;
    }

    &> i.feather.ml-minus {
        display: inline-block;
        margin-left: -.3em;
    }
    &> i.feather.mr-minus {
        display: inline-block;
        margin-right: -.3em;
    }
}

p {
    margin: 0 0 s(1);
}

ul {
    margin: 0 0 s(1);
    padding: 0 0 0 1.2em;
}